body{background-color:snow;color:#333;font-family:Arial,sans-serif;margin:0}
a{color:#3498db;text-decoration:none}
header{align-items:center;background-color:#2c3950;color:#ecf0f1;display:flex;justify-content:space-between;padding:10px 20px} #logo a{margin:5px;padding:5px;color:white;font-weight:bold;font-size:35px;transition: color 0.4s ease, text-shadow 0.4s ease;} #logo a:hover{color:#4da8ff;} #header-right{align-items:center;display:flex;gap:10px}#search input{background-color:#fff;border:none;border-radius:5px;color:#333;padding:8px;width:250px}#search input::placeholder{color:#888}.auth-buttons button{background-color:#4da8ff;border:none;border-radius:5px;color:#fff;cursor:pointer;font-weight:700;padding:8px 12px;transition:background-color .3s}.auth-buttons button:hover{background-color:#2ecc71}
nav{background-color:#34435e;padding:10px 20px}nav ul{display:flex;font-size:20px;font-weight:700;gap:20px;justify-content:center;list-style:none;margin:0;padding:0}nav ul li a{color:#ecf0f1;font-weight:700}
.discussion-topics{margin:0 auto;max-width:700px;padding:0 20px}.topic-card{background-color:#fff;border-radius:8px;box-shadow:0 2px 5px rgba(0,0,0,.3);margin-bottom:15px;padding:15px}.topic-header{align-items:center;color:#777;display:flex;font-size:14px;justify-content:space-between;margin-bottom:5px}.post-user{color:#27ae60;font-weight:700}.post-date-time{white-space:nowrap}.topic-title{font-size:16px;font-weight:700;margin:5px 0}.topic-title a{color:#2980b9;text-decoration:none}.topic-title a:hover{text-decoration:underline}.topic-excerpt{color:#555;font-size:14px;margin-bottom:5px}.topic-stats{color:#999;font-size:14px;margin:5px 0}
.container{align-items:flex-start;display:flex;margin:0 auto;max-width:1000px;padding:20px}main{flex:1}aside{background-color:#fff;border-radius:8px;box-shadow:0 2px 5px rgba(0,0,0,.3);flex:0 0 300px;margin-bottom:15px;padding:20px}
.comments-section{margin-top:30px;max-width:750px;margin-left:auto;margin-right:auto;padding:15px}.comments-section h2{margin:0 0 15px;font-size:18px}.comment{background-color:#fff;border-radius:8px;box-shadow:0 2px 5px rgba(0,0,0,.4);padding:10px;margin-bottom:15px}.comment-author{font-weight:700;color:#27ae60}.comment-date{font-size:12px;color:#777;margin-bottom:5px}.comment-text{font-size:14px;color:#333}.comment-form{margin-top:20px;display:flex;flex-direction:column;gap:10px}.comment-form input[type=text],.comment-form textarea{padding:8px;border:1px solid #ddd;border-radius:5px;font-size:14px;resize:vertical;box-shadow:0 2px 5px rgba(0,0,0,.4)}.comment-form button{align-self:flex-start;padding:8px 16px;border:none;border-radius:5px;background-color:#27ae60;color:#fff;cursor:pointer;font-weight:700;transition:background-color .3s}.comment-form button:hover{background-color:#2ecc71}.topic-images{display:flex;flex-wrap:wrap;gap:10px;margin:20px 0}.topic-images img{max-width:100%;border-radius:8px;box-shadow:0 2px 5px rgba(0,0,0,.3)}.topic-video{margin:20px 0;text-align:center}.topic-video iframe{width:100%;max-width:560px;height:315px;border:none;border-radius:8px;box-shadow:0 2px 5px rgba(0,0,0,.1)}.topic-gallery table td img{max-width:150px;height:auto}.topic-gallery table{width:50%;table-layout:fixed}
footer{background-color:#2c3950;color:#ecf0f1;padding:30px 20px}.footer-top{display:flex;flex-wrap:wrap;gap:20px;justify-content:space-around;margin:0 auto 20px;max-width:1200px}.footer-column h3{font-size:16px;margin:0 0 10px}.footer-column ul{list-style:none;margin:0;padding:0}.footer-column li{margin-bottom:6px}.footer-column a{color:#ecf0f1;font-size:14px;text-decoration:none}.footer-bottom a:hover,.footer-column a:hover{text-decoration:underline}.footer-bottom{font-size:14px;text-align:center}.footer-bottom a{color:#fff;font-weight:700;text-decoration:none}.footer-bottom p{margin:5px 0}
.charts-container{align-items:center;display:flex;gap:30px;justify-content:center;padding:20px}.chart-wrapper{height:300px;width:300px}
.topic-text{text-align:justify;line-height:1;padding:15px}.image-gallery{display:flex;flex-wrap:wrap;gap:5px;margin-top:15px}.image-gallery img{width:calc(50% - 5px);cursor:pointer;border-radius:6px;transition:transform .2s}.image-gallery img:hover{transform:scale(1.03)}
#toggleButton,button{padding:10px 20px;font-size:16px;cursor:pointer}.modal{position:fixed;display:none;top:0;left:0;width:100vw;height:100vh;background:rgba(0,0,0,.8);align-items:center;justify-content:center;z-index:9999}.modal__img{max-width:90%;max-height:90%}.modal__close{position:absolute;top:20px;right:30px;font-size:2rem;color:#fff;cursor:pointer}#toggleButton{border:none;border-radius:4px;background-color:#2978b5;color:#fff;transition:background-color .2s}#toggleButton:hover{background-color:#2563eb}#textBox{margin-bottom:20px;font-size:18px;font-weight:700}button{margin:0 10px}



.mini-card {
  display: flex;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 15px;
  color: #ffffff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease;
}

.mini-card-img {
  width: 60px;
  height: 60px;
  border-radius: 8px;
  object-fit: cover;
  margin-right: 10px;
}

.mini-card-content {
  flex: 1;
}

.mini-card-title {
  font-weight: bold;
  color: #4da8ff;
  text-decoration: none;
  display: block;
  margin-bottom: 5px;
  font-size: 0.95rem;
}

.mini-card-title:hover {
  text-decoration: underline;
}

.mini-card-text {
  font-size: 0.85rem;
  color: #555;
  margin: 0;
}



/* Для экранов меньше 768px (планшеты и телефоны) */
@media (min-width: 450px) and (max-width: 900px) {

.auth-buttons {display: none}
aside {display: none}
}


